.respuestaCorrecta{
    background-color: rgba(0, 194, 0, 0.616);
}


.respuestaIncorrecta {

    background-color: rgba(255, 0, 0, 0.596);
}

body{

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 20px;

}

.section-padlock{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 10px;
}

.inputs-cuadrados {
    width: 100px;
    height: 100px;
    font-size: 40px; 
    font-family: 'Montserrat', sans-serif;
    text-align: center; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    outline: none; 
    transition: border-color 0.3s; 
  }
  
  .inputs-cuadrados:focus {
    border-color: #007BFF; 
  }